#modal-start {
    #modal-row-1 {
        margin: 160px auto 0;
    }
    #modal-row-2 {
        margin: 10px auto 0;
    }
    #modal-start-btn-join {
        float: right
    }
    #modal-start-btn-about {
        position: absolute;
        left: 15px;
        bottom: 15px;
        background-color: $color-purple;
    }

}
